body{
  background-color: #FFE1E1;
}
h1{
  color: purple;
  margin: 0;
}
h2{
  color: black;
  margin: 0;
}
h3{
  color: black;
  margin: 0;
}
h4{
  margin: 0;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 100%;

}
th, td {
padding-right: 100px;

}
a:link {
text-decoration: none;
color: black;
}
a:visited {
text-decoration: none;
color: black;
}
a:hover {
text-decoration: underline;
color: blue;
}
a:active {
text-decoration: underline;
}
#page {
   border-collapse: collapse;
}
#page td {
   padding: 0;
   margin: 0;
}
#page tr{
  margin-bottom: 33px;
}
h1 a {
  color: purple !important;
}
/* Styles for tablet screens */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
/* Styles for desktop screens */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
