  body{
    background-color: #FFE1E1;
  }
  h1{
    color: purple;
    margin: 0;
  }
  h2{
    color: black;
    margin: 0;
  }
  h3{
    color: black;
    margin: 0;
  }
  h4{
    margin: 0;
  }
  hr{

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 100%;

  }
  th, td {
  padding-right: 100px;

}
a:link {
text-decoration: none;
color: black;
}
a:visited {
text-decoration: none;
color: purple;
}
a:hover {
text-decoration: underline;
color: blue;
}
a:active {
text-decoration: none;
}
